html{
    /* Con esta propiedad realizamos un desplazamiento suave en todo el HTML */
    scroll-behavior: smooth; 
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    text-decoration: none;
}

.bg-primary{
    /* Dark Knight */
    background: #BA8B02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


img{
    animation: arriba 1s ease-in;
}

.textos-black{
    width: 50%;
    color:#000;
}

.textos{
    /* width: 50%; */
    color:#fff;
}

.textos h1{
    /* font-size:4rem; */
    animation: moverDerecha 1s ease-in;
}

.textos h2{
    /* font-size:2rem; */
    animation: moverIzquierda 1s ease-in;
}

.textos h3{
    animation: arriba 1s ease-in;
}

.textos ul{
    list-style-type:none;
    animation: moverIzquierda 1s ease-in;    
}


.wave{
    height: 100px;
    width: 100%;
    /* background: #DA4453;  */ /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #89216B, #DA4453);*/  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #89216B, #DA4453);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    

    /* Selenium */
    /* background: #3C3B3F; */  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F); */ /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #605C3C, #3C3B3F); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* Orange Fun */
    /* background: #fc4a1a;  */ /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  */ /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #f7b733, #fc4a1a); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* Dark Knight */
    background: #BA8B02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}



@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
